@import "../sass/variables.scss";
@import "../sass/mixins.scss";
@import "../sass/media-querries.scss";
@import "../sass/utilities.scss";
@import "bootstrap/scss/bootstrap.scss";



/* ---------------------------------------- sass placeholders */

%section-img {
    width: auto;
    left: 0;
    z-index: 0;
}


/* ---------------------------------------- general */


html, body {
    font-family: "Ubuntu", sans-serif;
    font-size: 10px;
    font-weight: 400;
}

h1 {
    @include font-values(7.2rem, 700, $white);
    width: min-content;
    white-space: nowrap;
}

h2 {
    @include font-values(4.8rem, 700, $primary);
    margin-bottom: 3rem;

    em {
        font-family: "Leonidas Script TB 2";
        @include font-values(6rem, 400, $primary);
        font-style: normal;
    }

}

h3 {
    @include font-values(3rem, 700, $primary);
    padding: 3rem 0;
}

p, a {
    @include font-values(1.8rem, 400);
}

li[class]{list-style: none;}


a.btn {
    font-size: 1.8rem;
    padding: 1.5rem 3rem; 
    @include rounded;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #ffffff;
}

figcaption {
    @include font-values(25px, 400)
}


/* ---------------------------------------- header */

header, #saison{
    background-color: $green;
}

header#header {

        .header-img {
            max-height: 1015px;
            @extend %section-img;
            bottom: 5%;   
        }

    .main-content{
        position: relative;
        min-height: 900px;

        .main-content-inner {
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
    }
}

/* ---------------------------------------- navigation */

.navbar {
    z-index: 99;
}

div.menu {
    flex-direction: column;
}


.navbar-nav {
    justify-content: flex-end;
    li.nav-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: .25rem 1rem;

         a.nav-link{
            font-size: 2rem;
            color: $white;        
        }
    }
}

.nav {
    ul li a.nav-link {
        text-transform: uppercase;
    }
}

/* ---------------------------------------- boutique */

#boutique {
    width: 85%;
    z-index: 2;
    bottom: -10%;
}

.search-form input {
    @extend a.btn;
    max-width: 400px;

    &::placeholder {
        color: $primary
    }
}

/* ---------------------------------------- saison */


#saison {
    position: relative;
    
    .saison-img{
        @extend %section-img;

        &:nth-child(2){
            max-height: 100%;
            left: unset;
            right: 0;
        }
    }


    .saison-inner {
        min-height: 900px;

        h2{
            width: 80%;
        }
    }
}

.saison-img{
    max-height: 754px;
}

/* ---------------------------------------- decouverte */

#decouverte {
    
    .btn {
        max-width: fit-content;
    }

    .pralines, .gourmandises  {
        min-height: 650px;

         & > div:last-child {
            min-height: 200px;
            position: relative;
            padding: 0;

            img {
                position: relative;
                max-width: calc(100% + 25px);
            }
        }
    }

    .pralines  {
    
        & > div:last-child { 
            transform: translateY(45px); 
            z-index: 1;
        }
    }

    .gourmandises {

        & > div:last-child { 
            transform: translateY(-45px); 
        }
       
    }

}


/* ---------------------------------------- moments */

#moments {


    .row {
        position: relative;
        background-color: $orange-light;
        max-width: 75%;
        margin-left: auto;
    }

    .moments-img {
        max-height: 885px;
        width: auto;
        top: -10%;
        left: 0;
        z-index: 1;

        img {
            height: inherit;
            min-width: 870px;
        }
    }

    .moments-list {
        padding: 6rem 0;
        position: relative;
        top: 20%;
    }

    .moments-item {
        display: flex;
        position: relative;

        &:before {
            content: "";
            display: block;
            height: 3px;
            background-color: $secondary;
            width: 165px;
            position: absolute;
            left: -25%;
            top: 50%;
            z-index: 99;
        }

        &:last-of-type{
            margin-bottom: 3rem;
        }

    }    

    svg {
        position: relative;
        float: left;
        margin-right: 3rem;
        height: 10rem;
        width: auto;

        path {
            @include fill;

        } 

        .light-path {
            fill: #D2DDF2;
        }
    }

    svg.active {

        path {
            @include fill($secondary);
        }
        
        .light-path {
                fill: #F7B289;
            }
    }
   
}

/* ---------------------------------------- qualite */

#qualite {

    img {
        padding: 3rem 0;
    }

    p {
        padding: 0 1.5rem;
    }
}


/* ---------------------------------------- newsletter */

#newsletter{
    min-height: 442px;
    background: url(../images/img-newsletter.png) no-repeat;
    background-size: cover;
    background-position: center;
    @extend %flex-align;
    margin-top: 10rem;
    margin-bottom: 5rem;

    .newsletter-inner {
        @extend %flex-align;
        flex-direction: column;
        text-align: center;
        margin-bottom: 3rem;
    }

    .newsletter-icon {
        max-height: 9rem;
        height: 100%;
        width: auto;
    }
}

/* ---------------------------------------- À propos */

#apropos {

    .row {
        @extend %flex-align;
        border-bottom: 3px solid $secondary;
    }
}


/* ---------------------------------------- footer */

footer#footer {

    .container,
    ul {
        padding: 0;
    }

    li.nav-item {
        display: flex;
        align-items: center;

        a.nav-link {
            text-transform: uppercase;
            color: $primary;
        }

        &:last-of-type {
            margin-bottom: 3rem;
        }

        &:before {
            content: url("../images/icons/chevron-right.svg");
            height: 100%;
            max-height: 16px;
            width: auto;
            margin-right: 1.5rem;
            display: inline-block;
        }

       
    }

    .social-icon {
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
    }
}


/* ---------------------------------------- media querries */

/* Mobile */

@include respond-below(sm) {

//general

    h1 {
        @include font-values(3rem, 700, $white);
    }
    
    h2 {
        @include font-values(2.5rem, 700);
    
        em {
            font-family: "Ubuntu";
            @include font-values(2.5rem, 700);
        }
    
    }
    
    h3 {
        @include font-values(2rem, 700);
    }
    
    p, a {
        @include font-values(1.6rem, 400);
    }


// boutique

    #boutique {
        width: 100%;
    }

}



/* Mobile */

@include respond-above(lg) {

//decouverte

    #decouverte {

        .pralines  {
    
            img {
                left: -25px;
            }
        }    

        .gourmandises  {
    
            img {
                right: -25px;
            }
        }
    }
}    