@import "../sass/variables.scss";
@import "../sass/mixins.scss";
@import "../sass/media-querries.scss";
@import "../sass/utilities.scss";
@import "bootstrap/scss/bootstrap.scss";



/* ---------------------------------------- sass placeholders */

%section-img {
    width: auto;
    left: 0;
    z-index: 0;
}


/* ---------------------------------------- general */


html, body {
    font-family: "Ubuntu", sans-serif;
    font-size: 10px;
    font-weight: 400;
}

h1 {
    @include font-values(7.2rem, 700, $white);
    width: min-content;
    white-space: nowrap;
}

h2 {
    @include font-values(4.8rem, 700, $primary);
    margin-bottom: 3rem;

    em {
        font-family: "Leonidas Script TB 2";
        @include font-values(6rem, 400, $primary);
        font-style: normal;
    }

}

h3 {
    @include font-values(3rem, 700, $primary);
    padding: 3rem 0;
}

p, a {
    @include font-values(1.8rem, 400);
}

li[class]{list-style: none;}


a.btn {
    font-size: 1.8rem;
    padding: 1.5rem 3rem; 
    @include rounded;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #ffffff;
}

figcaption {
    @include font-values(25px, 400)
}


/* ---------------------------------------- header */

header, #saison{
    background-color: $green;
}

header#header {

    .header-img {
        max-height: 1015px;
        @extend %section-img;
        bottom: 0;   
    }

    .main-content{
        position: relative;
        min-height: 900px;

        .main-content-inner {
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
    }
}

/* ---------------------------------------- navigation */

.navbar {
    z-index: 99;
}

div.menu {
    flex-direction: column;
}


.navbar-nav {
    justify-content: flex-end;
    li.nav-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: .25rem 1rem;

         a.nav-link{
            font-size: 2rem;
            color: $white;        
        }
    }
}

.nav {
    ul li a.nav-link {
        text-transform: uppercase;
    }
}

/* ---------------------------------------- boutique */

#boutique {
    position: relative;
    z-index: 2;

    .search-form input {
        @extend a.btn;
        max-width: 400px;

        &::placeholder {
            color: $primary
        }
    }

    button[type=submit] {
        $submit: 6rem;
        min-width: $submit;
        min-height: $submit;

        img {
            margin: auto;
        }
    }
}


/* ---------------------------------------- saison */


#saison {
    position: relative;
    
    .saison-img{
        @extend %section-img;

        &:nth-child(2){
            max-height: 100%;
            left: unset;
            right: 0;
        }
    }


    .saison-inner {
        min-height: 900px;
        align-items: center;

        h2{
            width: 80%;
        }

        p {
            width: 50%;
        }

    }

    .btn-light {
        color: $primary;
    }
}

.saison-img{
    max-height: 754px;
}


/* ---------------------------------------- decouverte */

#decouverte {
    
    .btn {
        max-width: fit-content;
    }

    .pralines, .gourmandises  {
        min-height: 650px;

         & > div:last-child {
            min-height: 200px;
            position: relative;
            padding: 0;

            img {
                position: relative;
                max-width: calc(100% + 25px);
            }
        }
    }

    .pralines  {
    
        & > div:last-child { 
            transform: translateY(45px); 
            z-index: 1;
        }
    }

    .gourmandises {

        & > div:last-child { 
            transform: translateY(-45px); 
        }
       
    }

}


/* ---------------------------------------- moments */

#moments {

    .row {
        position: relative;
        background-color: $orange-light;
    }

    .moments-img img {
            position: absolute;
            top: 15%;
            width: 100%;
    }

    .moments-list {
        padding: 6rem 0;
        position: relative;
        top: 20%;
    }

    .moments-item {
        display: flex;
        position: relative;

        &:last-of-type{
            margin-bottom: 3rem;
        }
    }    

    svg {
        position: relative;
        float: left;
        margin-right: 3rem;
        height: 10rem;
        width: auto;

        path {
            @include fill;

        } 

        .light-path {
            fill: #D2DDF2;
        }
    }

    svg.active {

        path {
            @include fill($secondary);
        }
        
        .light-path {
                fill: #F7B289;
            }
    }
   
}

@media (min-width: 1920px) {

    #moments {

        .moments-img img{
            top: -100px;
        }
    }

}

/* ---------------------------------------- qualite */

#qualite {

    img {
        padding: 3rem 0;
    }

    h3 {
        padding: .75rem 0;
    }
}


/* ---------------------------------------- newsletter */

#newsletter{
    min-height: 442px;
    @include bg-img(img-newsletter, cover, center);
    @extend %flex-align;

    .newsletter-inner {
        @extend %flex-align;
        flex-direction: column;
        text-align: center;
        margin-bottom: 3rem;
    }

    .newsletter-icon {
        max-height: 9rem;
        height: 100%;
        width: auto;
    }
}

/* ---------------------------------------- À propos */

#apropos {

    .row {
        @extend %flex-align;
        border-bottom: 3px solid $secondary;
    }
}


/* ---------------------------------------- footer */

footer#footer {
   
    ul {
        padding: 0;
    }

    li.nav-item {
        display: flex;
        align-items: center;

        a.nav-link {
            text-transform: uppercase;
            color: $primary;
        }

        &:last-of-type {
            margin-bottom: 3rem;
        }

        &:before {
            content: url("../images/icons/chevron-right.svg");
            height: 100%;
            max-height: 16px;
            width: auto;
            margin-right: 1.5rem;
            display: inline-block;
        }

       
    }

    .social-icon {
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
    }
}


/* ---------------------------------------- media querries */


/* max-width: 767px */

@include respond-below(md) {

//general

    h1 {
        @include font-values(3rem, 700, $white);
        padding: 0 3rem;
    }
    
    h2 {
        @include font-values(2.5rem, 700, $primary);
    
        em {
            @include font-values(2.5rem, 700, $primary);
        }
    
    }
    
    h3 {
        @include font-values(2rem, 700, $primary);
    }
    
    p, a {
        @include font-values(1.6rem, 400);
    }

    a.btn {
        padding: 1.5rem 1.5rem;
    } 
    

// header

    header#header {

        .main-content {
            min-height: 450px;
        }
    }

// navigation {

    .navbar .navbar-brand img {
        max-width: 70px;
    }

// saison

    #saison {
        background-color: $turquoise;

        .saison-img{
            left: unset;
            right: 0;
            bottom: 0;

            &:nth-child(2) {
                right: unset;
                left: 0;
            }
        }
        
        .saison-inner{
            min-height: 700px;
            padding-top: 3rem;
            padding-bottom: 3rem;
            align-items: start;

            h2, p {
                width: 100%;
            }

            .saison-link {
                display: flex;
                justify-content: center;
            }

            .btn-light {
                background-color: $pink;
                border-color: $pink;
                color: $white;
                margin: auto;
            }
        }
    }

// boutique

    #boutique {
        width: 100%;
    }

// decouverte

    #decouverte {

        a.btn {
            margin: auto;
        }
    }

// moments

    #moments {

        .moments-list {
            padding: 6rem 1rem;
        }
    }

//qualite 

#qualite {

    img {
        max-width: 50px;
    }

    .text {
        padding: 1.5rem 0 1.5rem 1.5rem;
    }
}


// newsletter

#newsletter{
    @include bg-img(img-newsletter-mobile, cover, center);
    margin-top: 10rem;
    margin-bottom: 5rem;

    .newsletter-icon {
        max-height: 7rem;
    }
}


//footer

    #footer{

        .container{
            padding: 0 1.5rem;
        }
    }

}



/* min-width: 992px */

@include respond-above(lg) {

//decouverte

    #decouverte {

        .pralines  {
    
            img {
                left: -25px;
            }
        }    

        .gourmandises  {
    
            img {
                right: -25px;
            }
        }
    }

//footer

    #footer{

        .container{
            padding: 0;
        }
    }

}    


/* min-width: 768px and max-width: 1199px */

@include respond-between(lg, xl) { 

// decouverte

    #decouverte {

        h2 {
            em {
                @include font-values(4.8rem, 400, $primary);
            }
        }
    }
}


/* max-width: 1199px */

@include respond-below(xl) { 

// decouverte

    #decouverte {

        h2 {
            text-transform: capitalize;
                        
            em {
                font-family: "Ubuntu";
            }
        }
    }
}


/* max-width: 1439px */

@include respond-below(xxl) { 

// boutique

    #boutique {

        .boutique-item {
            margin-bottom: 3rem;
        }
    }
}

/* min-width: 1440px */

@include respond-above(xxl) {

//boutique

    #boutique {
        width: 90%;
        position: absolute;
        transform: translateY(-50%);

        img {
            margin-right: 3rem;
        }

        .h2 {
            padding-left: 3rem;
        }
    }

// decouverte

    #decouverte {

        h2, p {
            width: 75%;
        }
    }

//moments

    #moments {

        .moments-item:before {
                content: "";
                display: block;
                height: 3px;
                background-color: $secondary;
                width: 165px;
                position: absolute;
                left: -200px;
                top: 25%;
                z-index: 99;
        }

        .description {
            max-width: 50%;
        }
    }


// newsletter

    #newsletter{
        margin-top: 10rem;
        margin-bottom: 5rem;
    }

}    