
// custom booststrap max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px
);

$primary:    #06255B;
$secondary:  #DF6954;
$green:   #BFCB00;
$orange-light: #FFF5EB;
$light: #FFFFAC;
$gray-700: #3D3D3D;
$dark : $gray-700;

@mixin rounded($radius: 0.4rem) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}
